.feed-item-container{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}
.feed-item-title{
    font-family: 'Noto Sans', sans-serif;
    padding: 30px;
    font-family: 'Noto Sans', sans-serif;
    padding: 60px;
    padding-bottom: 15px;
    font-size: 40px;
    color: rgba(0,0,0,0.8);
}
.feed-item-category{
    padding-left: 70px;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Noto Sans', sans-serif;
}

.feed-info{
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 60px;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0,0,0,0.8);
}

.feed-item-info{
    display: flex;
}

#feed-item-info-icon{
    font-size: 70px;
    cursor: none;
}
.feed-item-info-details{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.author-name{
    padding-left: 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.84);
}
.author-name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.creation-date{
    padding-left: 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    margin-top: 10px;
}
#feed-item-like-btn{
    font-size: 50px;
}
#feed-item-like-btn{
    cursor: pointer;
    margin-top: 5px;
}
.feed-item-img{
    width: 600px;
    margin-left: 60px;
    border-radius: 5px;
}
.feed-item-body{
    min-width: 600px;
    max-width: 600px;
    margin: 60px;
    display: block;
    color: rgba(0,0,0,0.84);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.072px;
    line-height: 28.44px;
    overflow-wrap: break-word;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}
.action-button-container{
    display: flex;
    justify-content: space-around;
    margin-top: -3rem;
    margin-bottom: 3rem;
}

.response-index-container{
    background: #fafafa !important;
    padding-bottom: 100px;
}
.response-index-feed{
    margin: 0 auto;
    width: 680px;
}
.response-header{
    padding: 20px 0;
    letter-spacing: -0.32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(0,0,0,0.68);
    fill: rgba(0,0,0,0.68);
}