.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between ;
    max-width: 1200px;
    margin: auto;
 }
 .navbar-container{
    top: 0px;
    background-color: white;
    padding-top: 30px;
    position: sticky;
    padding-bottom: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4)
 }
.navbar-border{
    margin-top: 30px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 12px -12px rgba(0, 0, 0, 0.5);
}
 .navbar-right{
     list-style-type: none;
     display: inline-flex;
     justify-content: flex-end;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0,0,0,0.54);
     min-width: 440px;
 }
 .welcome-message{
    padding-top: 12px;
    color: rgba(0,0,0,0.84);
 }
 .welcome-message:hover{
     cursor: pointer;
 }
 .navbar-right-search{
    display: flex;
    padding: 0 14px;

 }
 #navbar-icon{
     margin-top: 8px;
     margin-right: 2px;
     color: rgba(0,0,0,0.54);
 }
 #navbar-icon:hover{
    cursor: pointer;
    color: black;
 }
 .navbar-right-search input{
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 20px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(0,0,0,0.54);
 }
 .navbar-right-search input:focus{
    background-color: white;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
 }

 .logo{
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
 }
 .logo:hover{
    cursor: pointer;
 }
.navbar-right-signout{
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    min-width: 32px;
    margin: 0 7px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid rgba(0,0,0,0.54);
    color: rgba(0,0,0,0.54);
    border-radius: 5px;
}
.navbar-right-signout:hover{
    cursor: pointer;
    border: 1px solid black;
    color: black;
}
.navbar-right-profile{
    height: 36px;
    line-height: 32px;
    padding: 0 12px;
    color: rgba(0,0,0,0.54);
}
.navbar-right-profile:hover{
    cursor: pointer;
    color: black;
}
.navbar-right-notification{
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
    margin: 0 7px;
    color: rgba(0,0,0,0.54);
}
.navbar-right-notification:hover{
    cursor: pointer;
    color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content > div {
  color: rgba(0,0,0,0.54);
  padding: 12px 16px;
font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  display: block;
  border-bottom: lightgrey solid 1px;
}
/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {display:block;}

//for drop down profile icon
#dropdown-profile{
    display: inline-block;
    margin: auto;
}


