.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between ;
    padding: 4px;
    margin: 4px;
    margin-top: 15px;
 }
 .navbar-right{
     list-style-type: none;
     display: inline-flex;
     min-width: 440px;
 }
 .navbar-right-search{
    display: flex;
    padding: 0 14px;

 }
 #navbar-icon{
     margin-top: 8px;
     margin-right: 2px;
     color: rgba(0,0,0,0.54);
 }
 #navbar-icon:hover{
    cursor: pointer;
    color: black;
 }
 .navbar-right-search input{
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 20px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(0,0,0,0.54);
 }
 .navbar-right-search input:focus{
    background-color: white;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
 }

 .logo{
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
 }
 .logo:hover{
     cursor: pointer;
 }
.navbar-right-signout{
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    min-width: 32px;
    margin: 0 7px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid rgba(0,0,0,0.54);
    color: rgba(0,0,0,0.54);
    border-radius: 5px;
}
.navbar-right-signout:hover{
    cursor: pointer;
    border: 1px solid black;
    color: black;
}
.navbar-right-profile{
    height: 36px;
    line-height: 32px;
    padding: 0 12px;
    color: rgba(0,0,0,0.54);
}
.navbar-right-profile:hover{
    cursor: pointer;
    color: black;
}
.navbar-right-notification{
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
    margin: 0 7px;
    color: rgba(0,0,0,0.54);
}
.navbar-right-notification:hover{
    cursor: pointer;
    color: black;
}