// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-signup{
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding-left: 8px;
}
.login-form-signup > span{
    color: #32c671;
}
.login-form-signup:hover, .signup-form-login:hover{
    cursor: pointer;
}
.signup-form-login{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.signup-form-login > span > a{
    color: #32c671;
}
