/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .main-container{
    display: flexbox;
    margin: auto;
    max-width: 80vw;
 }
 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.93);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
 
.auth-form{
    display: flex;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(235, 225, 225, 0.705);
    position: relative;
    height: 50vh;
    width: 90vh;
    border-radius: 5px;
    box-shadow:  1px 2px 4px rgba(0, 0, 0, .5);
}
.auth-image-container{
    vertical-align: middle;
}
.auth-image-container > img{
    height: 100%;
}
.auth-form-credentials{
    display: flex;
    flex-direction: column; 
    padding: 15px 100px;
    min-height: 200px;
    justify-content: space-evenly;
}
.signup-auth-form-credentials{
    display: flex;
    flex-direction: column; 
    padding: 0 100px;
    min-height: 200px;
    justify-content: space-evenly;
}
.auth-form-credentials input{
    height: 33px;
    line-height: 25px;
    padding: 0px 14px;
    min-width: 32px;
    margin: 2px 7px;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 0.1px solid black;
    color: rgba(0,0,0,0.54);
    outline: none;
}
.signup-auth-form-credentials input{
    height: 33px;
    line-height: 25px;
    padding: 0px 14px;
    min-width: 32px;
    margin: 2px 7px;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 0.1px solid black;
    color: rgba(0,0,0,0.54);
    outline: none;
}

.auth-form-intro-container{
    padding: 10px 50px;
    padding-top: 0px;
}


.auth-intro{
    margin-top: 30px;
    color: rgba(0,0,0,0.54);
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}
.auth-header{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 30px;
    font-size: 30px;
}

.signup-auth-header{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 30px;
    font-size: 30px;
}

.submit-button[type='submit']{
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    min-width: 32px;
    margin: 2px 7px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}
.signup-submit-button[type='submit']{
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    min-width: 32px;
    margin: 5px 7px;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button[type='button']{
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    min-width: 32px;
    margin: 2px 7px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}
.auth-errors{
    text-align: center;
    margin-top: 20px;
    color: red
}

footer{
  background-color: black;
  width: 100vw;
  color: white;
}

